// 导出 variables.module.scss，提供给TypeScript使用
:export {
  baseMainTheme: $base-main-theme;
  baseLeftTheme: $base-left-theme;
  baseTopTheme: $base-top-theme;
  baseTextColor: $base-text-color;
  baseContextMenuWidth: $base-context-menu-width;
  baseMenuWidth: $base-menu-width;

  loginTheme: $login-theme;
  svgTheme: $svg-theme;
}
